name: Android Lint & Ktlint

on:
  push:
    branches: [ "feature/rick_and_morty" ]
  pull_request:
    branches: [ "feature/rick_and_morty" ]

jobs:
  lint-and-style:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run ktlintCheck
        run: ./gradlew ktlintCheck

#      - name: Run Android Lint
#        run: ./gradlew lintDebug

      # Optional: upload lint reports as artifacts
      - name: Upload Android Lint report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: android-lint-report
          path: |
            app/build/reports/lint-results-debug.html
            app/build/reports/lint-results-debug.xml
          if-no-files-found: ignore

      - name: Upload ktlint report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ktlint-report
          path: |
            **/build/reports/ktlint/**/*.xml
            **/build/reports/ktlint/**/*.txt
          if-no-files-found: ignore
