name: Android Tests & Coverage

on:
  pull_request:
    branches: [ "main" , "develop" , "feature/rick_and_morty" ]
  push:
    branches: [ "main" , "develop" , "feature/rick_and_morty" ]

jobs:
  test-and-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run unit tests with coverage
        run: ./gradlew app:jacocoTestReport

      - name: Upload Jacoco HTML report
        if: always() # so you can see it even if coverage fails
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: app/build/reports/jacoco/jacocoTestReport/html
          if-no-files-found: ignore
