name : Android CI

on:
  push:
    branches: [ "feature/rick_and_morty" ]
  pull_request:
    branches: [ "feature/rick_and_morty" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle
      - name: Setup Gradle
        uses: gradle/gradle-build-actions@v2
      - name: Build app
        run: ./gradlew assemble

