name: Android CI

on:
  push:
    branches: [ "main", "develop", "feature/rick_and_morty" ]
  pull_request:
    branches: [ "main", "develop", "feature/rick_and_morty" ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v3
        with:
          arguments: build

  test-and-coverage:
    name: Tests & Coverage
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run unit tests with coverage and print percentage
        run: ./gradlew app:jacocoTestReport app:printJacocoCoverage

      - name: Upload Jacoco HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: app/build/reports/jacoco/jacocoTestReport/html
          if-no-files-found: ignore

  lint-and-style:
    name: Lint & Ktlint
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run ktlintCheck
        run: ./gradlew ktlintCheck

      - name: Run Android Lint
        run: ./gradlew lintDebug

      - name: Upload Android Lint report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: android-lint-report
          path: |
            app/build/reports/lint-results-debug.html
            app/build/reports/lint-results-debug.xml
          if-no-files-found: ignore

      - name: Upload ktlint report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ktlint-report
          path: |
            **/build/reports/ktlint/**/*.xml
            **/build/reports/ktlint/**/*.txt
          if-no-files-found: ignore
